/* 公共样式 */
/* 鼠标移入图片 透明 */
.img-hover:hover{
    opacity: .8;
}
.laya-theme-bg1{
    background-color: #0078d7;
}
@font-face{
    font-family: iconmoon;
    src: url('../fonts/icomoon.eot'), /* IE9+ */
	url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/icomoon.woff') format('woff'), /* chrome、firefox */
	url('../fonts/icomoon.ttf') format('truetype'), /* chrome、firefox、opera、Safari,Android, iOS 4.2+*/
	url('../fonts/icomoon.svg') format('svg'); /* iOS 4.1+ */

}
/* 邮件图标 */
.icon-mail2::before{
    font-family: iconmoon;
    content: "\ea84";
    font-size: 26px;
    color: #666;
}
.float-v{
    width: 314px;
    height: 138px;
    background: rgba(255,255,255,.6);
    opacity: 0;
    position: absolute;
    z-index: 100;
}
.float-v:hover{
    opacity: 1;
}
/* logo */
.navbar{
    margin-bottom: 0px;
}
nav.navbar a.navbar-brand>img{
    margin-top: -10px;
}
/* 轮播图 */
.banner {
    margin-top: 50px;
}
.banner .carousel-inner>.item>img{
    margin: auto;
}
.banner .carousel.slide{
    background-color: #2b80d9;
}
/* 页脚 */
#footer{
    background-color: #3b3b3b;
    padding-top: 35px;
    padding-bottom: 35px;
}
#footer .addr ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
}
#footer .addr ul>li{
    margin-right: 20px;
}
#footer .addr a:hover{
    text-decoration: none;
    color: #ccc;
}
#footer .contact {
    display: flex;
    justify-content: flex-start;
}
#footer .contact .mail,
#footer .contact .wechat,
#footer .contact .qq{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #eee;
    border-radius: 50%;
}
#footer .contact .wechat,
#footer .contact .qq{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
}
#footer .contact .wechat{
    background-position: 50% 0;
    position: relative;
}
#footer .contact .wechat img{
    position: absolute;
    left: -38px;
    top: -139px;
    width: 120px;
    display: none;
}
#footer .contact .wechat:hover > img{
    display: block;
}

#footer .contact .qq{
    background-position: right 0;
    position: relative;
}
#footer .contact .qq>img{
    position: absolute;
    bottom: 40px;
    left: -48px;
    display: none;
}
#footer .contact .qq:hover>img{
    display: block;
}